/* variables */
$bkg: #f7f8fc;
$l-grad-hex-100: #efeff6;
$l-grad-rgba-100: rgba(179, 202, 226, 0.28);
@font-face{
  font-family: "JejuGothic"
  src: local('./fonts/JejuGothic.ttf')
  src: url('JejuGothic.ttf') format('ttf')}

$d-grad-100: dark;

body {
   //background: linear-gradient(318.32deg, #C3D1E4 0%, #DDE7F3 55%, #D4E0ED 100%);
   background: #e0e5ec;
   //min-height: 100vh;
}